.hero-background {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("@@/assets/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(2px);
    transform: scale(1.05);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}