.text-wrap{
  text-wrap: wrap;
}

.hero-background {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("@@/assets/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(2px);
    transform: scale(1.05);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

swiper-container {
  &::part(container) {
    overflow: visible;
  }
}

.movie-poster {
  transition: all 0.5s;

  &:hover {
    position: relative;
    box-sizing: border-box;
    border: 4px solid white;
    transform: scale(1.1);
    z-index: 10;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}